body {
    background-color: rgb(250, 248, 248); 
    color: black; 
    font-family: Arial; 
    margin: 0px;
    text-align: justify;
    font-size: large;
    text-indent: 25px;
    font-size: 16px;
}

header {
    background:white;
    color: black; 
    padding: 2px; 
    
}

header:active{
    font-size: 10pt;
    color: black;
}

main{
    margin: 10px 20px;
}

footer {
    background:gray; 
    color: lightgrey; 
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right;
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    left: -20px;
    margin-top: 15px;
    margin-bottom: -20px;
}


footer:active{
    font-size: 10pt;
    color: lightgray;
}
a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-weight: bold;
    position: relative;
    top: -20px;
    font-size: 18px;
    margin-left: 90px;
    
    
}

a:visited{
    color: blue;
    background-color: white;
}

a:hover {
    color: rgb(0, 0, 128);
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 300ms 250ms;
}



