body {
    background-color: rgb(253, 247, 247); 
    color: black; 
    font-family: Arial; 
    margin: 0px;
}

header {
    background:white;
    color: black; 
    padding: 2px; 
    
}

header:active{
    font-size: 10pt;
    color: black;
}

main{
    margin: 10px 20px;
}

footer {
    background:gray; 
    color: lightgrey; 
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
}


footer:active{
    font-size: 10pt;
    color: lightgray;
}
a {
    text-decoration: none;
    color: black;
    transition: 400ms 2s;
    margin: -20px 50px 20px 70px;
    
}

a:visited{
    color: blue;
    background-color: white;
}

a:hover {
    color: rgb(0, 0, 128);
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 300ms 250ms;
}

